# Project files
.project
.cproject
*.code-workspace
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bash files
*.sh
*.bash

# Script files
init_sim.py

# Mac trash
*.dSYM/

# Image files
*.png
*.jpg
*.jpeg

# Temporal files
.DS_Store
*.dmp
*.attr
*~

# Trajectories files
*.xyz
*.lammpstrj
!init.lammpstrj

# Data files
*.dat

# Result files
log.mc
log.mc.*
log.lammps
log.lammps.*
nsim_times.mc
